@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bungee&family=Butcherman&family=Creepster&family=Eater&family=Flavors&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Qwitcher+Grypen:wght@400;700&family=Rubik+Wet+Paint&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bungee&family=Butcherman&family=Creepster&family=Eater&family=Flavors&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Qwitcher+Grypen:wght@400;700&family=Rubik+Wet+Paint&family=Shadows+Into+Light&display=swap');
body{
    background-color: #FAF3DD;
}
header{
    background-color: #8FC0A9;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: "Karla", sans-serif; 
}

nav {
    padding-bottom: 35px;
    display: flex;
    justify-content: space-around; 
}
nav a:hover {
    background-color: #C8D5B9; 
    text-align: center; 
}
.book {
    background-color: #8FC0A9;
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    
}
.home-grid {
    margin-top: 25px;
}
.join {
    background-color: #8FC0A9;
    text-decoration: none;
    font-size: 18px;
    font-family: "Karla", sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #0000;
}
.book:hover {
    background-color: #68B0AB;
}
.join:hover {
    background-color: #68B0AB;
}
.msg {
    background-color: #FAF3DD;
    padding: 35px;
}
main section img {
    box-sizing: border-box;
}
footer {
    background-color: #8FC0A9;
    margin-top: 200px;
}
footer a {
    text-align: center;
    text-decoration: none;
    padding: 25px 50px;
}
footer p {
    font-size: 1.2em;
    padding-top: 15px;
}
footer p a:hover {
    text-decoration: underline;
}    
h1, h2, h3, h4, h5, h6 {
    font-family: "Bungee", sans-serif;
}
p {
    font-family: "Karla", sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background: #FAF3DD;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero-msg {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px; 
    background-color: #C8D5B9;
}
.logo{
    width: 80px;
    margin-bottom: 35px;
}
#logo_link {
    padding-top: 5px; 
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%
}
#hero {

}
