@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Butcherman&family=Creepster&family=Eater&family=Flavors&family=Oswald:wght@200..700&family=Qwitcher+Grypen:wght@400;700&family=Rubik+Wet+Paint&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Butcherman&family=Creepster&family=Eater&family=Flavors&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Qwitcher+Grypen:wght@400;700&family=Rubik+Wet+Paint&family=Shadows+Into+Light&display=swap');

:root {
    --primary-color: #006D77;
    --secondary-color: #83C5BE ;
    --accent1-color: #FFDDD2;
    --accent2-color: #EDF6F9;
}

body{
    background-color: #EDF6F9;
}
nav {
    background-color: #83C5BE;
    color:#006D77;
    line-height: 40px; 
    font-size: 20px; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 10px 20px;
    position: relative; 
}
nav a {
    text-decoration: none;
    color: #006D77;
    padding: 10px;
}
nav a:hover {
    background-color: #006D77;
    color: #EDF6F9;
    border-radius: 10px;
}

footer {
    background-color: #83C5BE;
    margin-top: 200px;
    padding: 25px 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-align: center;
    text-decoration: none;
    color: #006D77;
    font-size: 20px;
}
footer p {
    color: #006D77;
    font-size: 20px;
}
footer a:hover {
    text-decoration: underline;
}
